.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
pyenv-beam/
HISTORY.txt
README.txt
.idea/
.vscode/
*.sw*